***Update and improve later

1. Node.js and npm download (npm install)

2. Java 11 setup and download

3. Text editor or IDE (Visual Studio and IntelliJ)

4. PostgreSQL and (optional) PgAdmin

5. Lombok and axios?