#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  color: white;
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.4em 0.6em;
  font-size: 0.9em;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

.crypto.prices {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#content {
  position:relative;
}

.ribbon {
  position:absolute;
  top:0;
  right:20px;
}

.logo.react {
  position: absolute;
  height: 10em;
  transition: filter 300ms;
  top: 5px;
  left: 10px;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.transactionColumn {
  padding-right: 7px;
}

.header {
  padding-bottom: 0.5em;
}

.headerBuyAmount {
  padding-left: 0.7em;
  padding-bottom: 0.5em;
}

.buyCount {
  padding-left: 1em;
  padding-right: 0.5em;
}

input {
  text-align: center;
  width: 4em;
}

.indexColumn {
  padding-right: 5px;
}

.buyButton {
  padding-left: 10px;
}

.sellButton {
  padding-left: 5px;
}